/*-- scss:defaults --*/

$body-color: #404041;
$headings-color: #066632;
$link-color: #ba7e00;

$blue: #066632;
$orange: #EE6331;
$green: #00cd87;
$red: #9A4665;
$indigo: #9A4665;
$cyan: #eda100;
$teal: #167ed3;


$warning: #eda100;
$info: #167ed3;
$success: #00cd87;
$danger: #9A4665;
$caution: #eda100;

/*-- scss:rules --*/

